<html>
<head>
<title>New Site Form</title>
<link rel="stylesheet" type="text/css" href="form.css" />
<style>
<!--
form {
        background-color: #CCCCCC;
        color: #000000;
        border: 1px solid #999999;
		padding: 8px;
		width: 300px;
        font-size: 10px;
        text-align: right;
}
h1 {
		text-align: center;
}
-->
</style>
</head>
<body>
<div id="content"> 
	<form action="new/go" method="post">
	<h1>New Site Form</h1>
	<fieldset>
	<legend>Contact Information</legend>
	<label>First name:
	<input type="text" name="first_name" />
	</label>
	<br />
	<label>Last name:
	<input type="text" name="last_name" />	
	</label>
	<br />
	<label>Email address:
	<input type="text" name="email" />
	</label>
	</fieldset>
	<br />
	<fieldset>
	<legend>Account information</legend>
	<label>Domain:
	<input type="text" name="domain" />
	</label>
	<br />
	<label>User account:
	<input type="text" name="account" />
	</label>
	<br />
	<label>User Password:
	<input type="text" name="password" />
	</label>
	</fieldset>
	<br />
	<fieldset>
	<legend>Allowed Services</legend>
	<label><input type="checkbox" name="access" value="ssh" /> Shell Account</label>
	<label><input type="checkbox" name="access" value="email" /> Email</label>
	<label><input type="checkbox" name="access" value="dns" /> DNS</label>
	<br />
	</fieldset>
	<br />
	<input type="submit" value="Submit" />
	</form>

</div>
</body>
</html>
	
	
