<html>
<head>
<title>New Site Form</title>
<link rel="stylesheet" type="text/css" href="form.css" />
<style>
<!--
form { 
        background-color: #CCCCCC;
        color: #000000;
        border: 1px solid #999999;
                padding: 8px;
                width: 300px;
        font-size: 10px;
        text-align: right;
}
h1 {
                text-align: center;
}
#error {
	color: red;
}
-->
</style>
</head>
<body>
<div id="content">

	<form action="add" method="post">
	<h1>New Site Form</h1>
	<div id="messages">
		[% IF message.defined %]<p>[% message %]</p>[% END %]
	</div>
	<fieldset>
	<legend>New Site</legend>

	<label>Owner
	<input type="text" name="owner" value="[% owner %]" /><br />
	</label>
	[% IF error_owner.defined %]
	<div id="error">
		[% error_owner %]
	</div>
	[% END %]

	<label>Domain
	<input type="text" name="domain" value="[% domain %]" /><br />
	</label>
	[% IF error_domain1.defined %]
        <div id="error">
                [% error_domain1 %]
		[% IF error_domain2.defined %]
		<br />[% error_domain2 %]
		[% END %]
        </div>
        [% END %]

	<label>Aliases
	<input type="text" name="ip_addr" value="[% aliases %]" /><br />
	</label>
	<div id="help">
		aliases should be space separated
	</div>
        [% IF error_ip.defined %]
        <div id="error">
                [% error_ip %]
        </div>
        [% END %]

	</fieldset>
	<input type="submit" name="submit" value="Submit" />
	</form>

</div>
</body>
</html>
